name: LLVM image

on:
  push:
    branches: [main]
    paths:
      - "llvm/**"
      - ".github/workflows/llvm.yml"
  workflow_dispatch: {}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: llvm
  LATEST_LLVM_VERSION: 19

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        llvm_version: [19]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute image URI and tags
        id: vars
        shell: bash
        run: |
          set -euo pipefail
          IMAGE_URI="${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}"
          LLVM="${{ matrix.llvm_version }}"

          {
            echo "tags<<EOF"
            echo "$IMAGE_URI:$LLVM"
            if [[ "$LLVM" == "${{ env.LATEST_LLVM_VERSION }}" ]]; then
              echo "$IMAGE_URI:latest"
            fi
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./llvm
          push: true
          tags: ${{ steps.vars.outputs.tags }}
          build-args: |
            LLVM_VERSION=${{ matrix.llvm_version }}
          cache-from: type=gha,scope=${{ matrix.llvm_version }}
          cache-to: type=gha,mode=max,scope=${{ matrix.llvm_version }}
